body {
    font-family: 'Almendra', serif;
    background-image: url('https://i.pinimg.com/736x/ee/c9/ba/eec9bab0ec633f37a2ed1dba33b5af89.jpg');
    background-size: cover;
    background-position: top;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.authForm {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.authError {
    color: red;
    height: 20px;
}

.secretContent {
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.question {
    margin-bottom: 20px;
}

.question h3 {
    margin: 0;
    font-size: 24px;
}

.option {
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    cursor: pointer;
}

.option:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+.option {
    background-color: rgba(255, 255, 255, 0.3);
}

button {
    padding: 10px 20px;
    background-color: #6f4e37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4b3829;
}

h1 {
    font-size: 36px;
    font-family: 'Almendra', serif;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

img {
    width: 120px;
    margin: 20px 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #6f4e37;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    font-family: 'Almendra', serif;
}

input[type="text"]::placeholder {
    color: #ccc;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    /* Ensure it is on top of other elements */
}